name: 'Code deploy'

on:
  push:
    branches:
      - master

jobs:
  pro-code-deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2              
      - name: Install Salesforce CLI
        run: |
          npm install @salesforce/cli --global
      - name: Authenticate to the target organisation
        run: |
          echo "${{ secrets.SALESFORCE_PRIVATE_KEY}}"  >  ~/credentials.txt
          sfdx org login jwt -o pjosegq90@gmail.com.northius -f ~/credentials.txt -i ${{ secrets.CONNECTED_APP_CONSUMER_KEY}} -s -a sfdc-org
      - name: Check authorized org list
        run: 'sfdx force:org:list'
      - name: Deploy metadata into the target org
        run: 'sfdx force:source:deploy -x manifest/package.xml -u targetORG -l RunLocalTests -w 90'
      - name: Get current branch name
        shell: bash
        run: echo "::set-output name=branch::${GITHUB_REF#refs/heads/}"
        id: branchStep